<%= simple_form_for(@book, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name, required: true, label: false, placeholder: "Имя" %>
    <%= f.input :author, required: true, label: false, placeholder: "Автор" %>
    <%= f.input :description, required: true, label: false, placeholder: "Описание", input_html: {rows: 5} %>
    <%= f.input :price, required: true, label: false, placeholder: "Цена" %>
    <%= f.input :image %>
    <%= f.input :resource %>
    
    <div class="checkbox text-center">
      <p>В наличии</p>
      <%= f.input :availability, required: false, label: false %>
    </div>
    <%= f.button :submit, "Подтвердить", class: "btn btn-primary btn-block" %>

<% end %>
